<a href="https://colab.research.google.com/github/LeonardoRobert/projeto-bd-colab/blob/main/Projeto_BD_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

# Conecta ao banco em memória (ou mude para 'projeto.db' se quiser persistência)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Ativar restrição de chave estrangeira no SQLite
cursor.execute("PRAGMA foreign_keys = ON;")

# Tabela de pessoas
cursor.execute('''
CREATE TABLE IF NOT EXISTS pessoas (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nome TEXT NOT NULL,
  idade INTEGER
);
''')

# Tabela de produtos
cursor.execute('''
CREATE TABLE IF NOT EXISTS produtos (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  descricao TEXT NOT NULL,
  estoque INTEGER,
  preco REAL
);
''')

# Tabela de vendas
cursor.execute('''
CREATE TABLE IF NOT EXISTS vendas (
  id_venda INTEGER PRIMARY KEY AUTOINCREMENT,
  id_pessoa INTEGER,
  id_produto INTEGER,
  quantidade INTEGER,
  FOREIGN KEY (id_pessoa) REFERENCES pessoas(id),
  FOREIGN KEY (id_produto) REFERENCES produtos(id)
);
''')

conn.commit()

# Inserir pessoas
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('Maria', 30);")
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('João', 25);")
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('Ana', 40);")

# Inserir produtos
cursor.execute("INSERT INTO produtos (descricao, estoque, preco) VALUES ('Caneta', 100, 1.50);")
cursor.execute("INSERT INTO produtos (descricao, estoque, preco) VALUES ('Caderno', 50, 6.50);")

conn.commit()

# Inserir vendas
cursor.execute("INSERT INTO vendas (id_pessoa, id_produto, quantidade) VALUES (1, 1, 10);")
cursor.execute("INSERT INTO vendas (id_pessoa, id_produto, quantidade) VALUES (2, 2, 2);")

conn.commit()

# Consulta com JOIN para exibir os dados
cursor.execute('''
SELECT v.id_venda, p.nome, pr.descricao, v.quantidade
FROM vendas v
JOIN pessoas p ON v.id_pessoa = p.id
JOIN produtos pr ON v.id_produto = pr.id;
''')

# Exibir resultados
results = cursor.fetchall()
for row in results:
    print(row)

conn.close()